[include kiauh_macros.cfg]

[stepper_x]
step_pin: P0.4
dir_pin: P0.5
enable_pin: !P4.28
microsteps: 16
rotation_distance: 32
endstop_pin: P1.29
position_endstop: 0
position_max: 195
homing_speed: 50

[stepper_y]
step_pin: P2.1
dir_pin: P2.2
enable_pin: !P2.0
microsteps: 16
rotation_distance: 32
endstop_pin: P1.27
position_endstop: 0
position_max: 205
homing_speed: 50

[stepper_z]
step_pin: P0.20
dir_pin: !P0.21
enable_pin: !P0.19
microsteps: 16
rotation_distance: 4
endstop_pin: P1.25
position_endstop: 0
position_max: 300

#[stepper_z1]
#step_pin: P0.1
#dir_pin: P0.0
#enable_pin: !P0.10
#position_endstop: 0.5
#position_max: 200

[extruder]
step_pin: P0.11
dir_pin: P2.13
enable_pin: !P2.12
microsteps: 16
rotation_distance: 5.7
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance = 0.052
heater_pin: P2.7
#sensor_type: EPCOS 100K B57560G104F
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: P0.24
max_power: 1
#control: pid
#pid_kp: 30
#pid_ki: 1.7
#pid_kd: 130

#control = pid
#pid_kp = 8
#pid_ki = 0.222
#pid_kd = 200
min_temp: 0
max_temp: 270

[heater_bed]
heater_pin: P2.5
sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.23
#control: pid
#pid_kp: 63.041
#pid_ki: 2.898
#pid_kd: 342.787
min_temp: 0
max_temp: 130
[bed_screws]
screw1: 90,0
screw2: 0,200
screw3: 190,200




[fan]
pin: !P0.0

[heater_fan fan]
pin: !P0.1
heater: extruder
heater_temp: 80.0
fan_speed: 1.0

#[controller_fan fan_board]
#pin: P2.3
#fan_speed: 1.0
#idle_timeout: 30
#stepper: stepper_x, stepper_y, stepper_z, extruder

[heater_fan fan2]
pin: !P0.10
heater: extruder, heater_bed
heater_temp: 80.0
fan_speed: 1.0

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1768_12C00004001C29AFD036A75AC02000F5-if00

[virtual_sdcard]
path: ~/Ultimaker_data/gcodes

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 4000
max_z_velocity: 10
max_z_accel: 50

#[mcu rpi]
#serial: /tmp/klipper_host_mcu

#[adxl345]
#cs_pin: rpi:None

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    100, 100, 20  # an example

[input_shaper]
shaper_freq_x: 49.4
shaper_type_x: mzv
shaper_freq_y: 68.4
shaper_type_y: mzv

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P0.18, EXP1_5=P0.15, EXP1_7=<NC>, EXP1_9=<GND>,
    EXP1_2=P2.11, EXP1_4=P0.16, EXP1_6=<NC>,  EXP1_8=<NC>, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P1.23, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

# See the sample-lcd.cfg file for definitions of common LCD displays.


[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(210)|float %}
    # Wait for bed to reach temperature
    M104 S{EXTRUDER_TEMP}
    M190 S{BED_TEMP}

    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    # SET_GCODE_OFFSET Z=0.0
    BED_MESH_PROFILE LOAD=default
    # Home the printer
    G28
    # Bed mesh
    # G29
    # BED_MESH_CALIBRATE
    # Move the nozzle near the bed
    G1 Z5 F3000
    # Move the nozzle very close to the bed
    G1 Z0.1 F300
    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F300
    # Raise nozzle by 10mm
    G1 Z10 F3000
    G90
    # Disable steppers
    M84

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 65.048
#*# pid_ki = 3.098
#*# pid_kd = 341.504
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 11.217
#*# pid_ki = 0.400
#*# pid_kd = 78.659
