[include macro_g28.cfg]

[gcode_macro HOMING_CONFIG]
variable_order: "z,x,y"
variable_dowith_z: "x,y"
variable_start_zhop: 5
gcode:
  RESPOND PREFIX="info" MSG="Homing config..."

[gcode_macro HOMING_OVERRIDE_BEFORE]
gcode:
    RESPOND PREFIX="info" MSG="Homing > Before homing: {params.X} - {params.Y} - {params.Z}"

[gcode_macro HOMING_OVERRIDE_X]
gcode:
    RESPOND PREFIX="info" MSG="Homing > X"
    G90
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT=0.4 HOLDCURRENT=0.4
    G990028 X0
    # G0 X{printer.toolhead.axis_maximum.x / 2} F9000
    G0 X15 F9000
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={printer.configfile.config["tmc2209 stepper_x"].run_current} HOLDCURRENT={printer.configfile.config["tmc2209 stepper_x"].hold_current}
    G90

  
[gcode_macro HOMING_OVERRIDE_Y]
gcode:
    RESPOND PREFIX="info" MSG="Home > Y"
    G90
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=0.4 HOLDCURRENT=0.4
    G990028 Y0
    # G0 Y{printer.toolhead.axis_maximum.y / 2} F9000
    G0 Y15 F9000
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={printer.configfile.config["tmc2209 stepper_y"].run_current} HOLDCURRENT={printer.configfile.config["tmc2209 stepper_y"].hold_current}
    G90

[gcode_macro HOMING_OVERRIDE_Z]
gcode:
    RESPOND PREFIX="info" MSG="Homing > Z"
    G90
    G990028 Z0
    G90

[gcode_macro HOMING_OVERRIDE_AFTER]
gcode:
    RESPOND PREFIX="info" MSG="Homing > After homing: {params.X} - {params.Y} - {params.Z}"